body {
    font-family: sans-serif;
    color:black;
    box-sizing: border-box;
}

.topnav-right {
    background-color: black;
    overflow: hidden;
}

.topnav-right a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav-right a:hover {
    text-decoration: underline;
  }

.column1 {
    float: left;
    width: 47%;
    align-items: right;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.column2 {
    float: left;
    width: 47%;
    align-items: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.column3 {
    float: left;
    width: 100%;
    align-items: center;
    margin-right: 5px;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

.row3:after {
    content: "";
    display: table;
    clear: both;
}

.row4:after {
    content: "";
    display: table;
    clear: both;
}

.row5 {
    background-color: black;
}

.column6 h2 {
    text-align:center;
}


.column6 {
    float: left;
    width: 100%;
    align-items: center;
    margin-right: 5px;
    margin-top: 15px;
    background-color: black;
    color: white;
}

.column8 {
    float: left;
    width: 100%;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
}

.arrow {
    margin-left: 100px;
    letter-spacing: 410px;
    text-align: center;

}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 100px;
    margin-right: 100px;
    -webkit-overflow-scrolling: touch;
}

.card {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 35px;
    vertical-align: top;
}